<div class="widget widget_ui_comments">
    <h3>最新评论</h3>
    <ul>
        <li>
            <a href="http://www.liangz.org/messageboard/comment-page-1#comment-151" title="留言板上的评论">
                <img data-src="https://secure.gravatar.com/avatar/739d96aed118412ef6e20a01af3d54b8?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"><strong>Job</strong> 2个月前
                (06-02)说：<br>看到下面的链接了，不用了。
            </a>
        </li>
        <li>
            <a href="http://www.liangz.org/messageboard/comment-page-1#comment-150" title="留言板上的评论">
                <img data-src="https://secure.gravatar.com/avatar/739d96aed118412ef6e20a01af3d54b8?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"> <strong>Job</strong> 2个月前
                (06-02)说：<br>博主，opencv的电子书还在吗？麻烦给我邮箱发一份。谢谢！
            </a>
        </li>
        <li>
            <a href="http://www.liangz.org/messageboard/comment-page-1#comment-149" title="留言板上的评论">
                <img data-src="https://secure.gravatar.com/avatar/639e9e3b0232709969af744af573a873?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"> <strong>老张</strong> 3个月前
                (05-07)说：<br>先赞一个吧，做的挺好的！不常来，每次都有不同。
            </a>
        </li>
        <li>
            <a href="http://www.liangz.org/messageboard/comment-page-1#comment-114" title="留言板上的评论">
                <img data-src="https://secure.gravatar.com/avatar/40fb135ee95fb0c1c3a5bb2b18945790?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"> <strong>hit</strong>
                11个月前 (09-01)说：<br>您好，可以再发一下Python——opencv中文版下载连接吗？
            </a>
        </li>
        <li>
            <a href="http://www.liangz.org/331.html/comment-page-1#comment-110" title="知识管理工具-Mybase上的评论">
                <img data-src="https://secure.gravatar.com/avatar/7744a667d94a9add1b5de5eaa265af5c?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"> <strong>figa</strong> 1年前
                (2019-04-11)说：<br>谢谢 感谢博主分享 ，感觉很好用 。
            </a>
        </li>
        <li>
            <a href="http://www.liangz.org/75.html/comment-page-1#comment-108" title="Snipaste--“全球第一多功能截图软件”上的评论">
                <img data-src="https://secure.gravatar.com/avatar/8ceaf29cc6b837a0a8fc10a2c5065a19?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"> <strong>Snake</strong>
                2年前 (2018-12-05)说：<br>一直在使用这个截图软件
            </a>
        </li>
        <li>
            <a href="http://www.liangz.org/444.html/comment-page-1#comment-106" title="使用grub2制作多重启动盘(上)上的评论">
                <img data-src="https://secure.gravatar.com/avatar/8ceaf29cc6b837a0a8fc10a2c5065a19?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"> <strong>Snake</strong>
                2年前 (2018-12-05)说：<br>照着做能做好，谢谢
            </a>
        </li>
        <li>
            <a href="http://www.liangz.org/331.html/comment-page-1#comment-103" title="知识管理工具-Mybase上的评论">
                <img data-src="https://secure.gravatar.com/avatar/0dd91156aa7c71aae6ebc64c173564ca?s=100&d=mm"
                     class="avatar avatar-100" height="50" width="50"> <strong>mm</strong> 2年前
                (2018-10-03)说：<br>太好用啦，感謝分享！
            </a>
        </li>
    </ul>
</div>