<div class="widget widget_ui_tags">
    <h3>热门标签</h3>
    <div class="items">
        <a href="http://www.liangz.org/tags/python">Python (41)</a>
        <a href="http://www.liangz.org/tags/logs">随笔日志 (18)</a>
        <a href="http://www.liangz.org/tags/linux">Linux (13)</a>
        <a href="http://www.liangz.org/tags/windows">Windows (12)</a>
        <a href="http://www.liangz.org/tags/web-build">建站笔记 (9)</a>
        <a href="http://www.liangz.org/tags/software">精品软件 (6)</a>
        <a href="http://www.liangz.org/tags/system">系统安装 (6)</a>
        <a href="http://www.liangz.org/tags/wordpress">WordPress (6)</a>
        <a href="http://www.liangz.org/tags/assembly">Assembly (6)</a>
        <a href="http://www.liangz.org/tags/disassembly">Disassembly (6)</a>
        <a href="http://www.liangz.org/tags/delphi">Delphi (6)</a>
        <a href="http://www.liangz.org/tags/centos">CentOS (5)</a>
        <a href="http://www.liangz.org/tags/crawler">网络爬虫 (5)</a>
        <a href="http://www.liangz.org/tags/c">C (5)</a>
        <a href="http://www.liangz.org/tags/recommend">站长推荐 (4)</a>
        <a href="http://www.liangz.org/tags/notice">网站公告 (4)</a>
        <a href="http://www.liangz.org/tags/ide">IDE (4)</a>
        <a href="http://www.liangz.org/tags/double-system">双系统 (3)</a>
        <a href="http://www.liangz.org/tags/digital-image-processing">数字图像处理 (3)</a>
        <a href="http://www.liangz.org/tags/%e6%b7%b1%e5%ba%a6%e5%ad%a6%e4%b9%a0">深度学习
            (3)</a>
        <a href="http://www.liangz.org/tags/grub2">grub2 (3)</a>
        <a href="http://www.liangz.org/tags/algorithms">Algorithms (3)</a>
        <a href="http://www.liangz.org/tags/%e8%a7%a3%e5%86%b3%e6%96%b9%e6%a1%88">解决方案
            (3)</a>
        <a href="http://www.liangz.org/tags/hash">Hash (3)</a>
        <a href="http://www.liangz.org/tags/help-document">帮助文档 (2)</a>
        <a href="http://www.liangz.org/tags/official-document">官方文档 (2)</a>
        <a href="http://www.liangz.org/tags/php">PHP (2)</a>
        <a href="http://www.liangz.org/tags/keygen">注册机 (2)</a>
        <a href="http://www.liangz.org/tags/source-build">源码编译 (2)</a>
        <a href="http://www.liangz.org/tags/attack-defense">黑客攻防 (2)</a>
    </div>
</div>