<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="//apps.bdimg.com">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="{{ header.blogname }}">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    {% block title %}
    <title>{{ header.blogname }} | {{ header.blogdesc }}</title>
    <meta name="description" content="{{ header.blogdesc }}"/>
    <link rel="canonical" href="{{ header.home }}"/>
    <link rel="next" href="http://www.liangz.org/page/2"/>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ header.blogname }} | {{ header.blogdesc }}"/>
    <meta property="og:description" content="{{ header.blogdesc }}"/>
    <meta property="og:url" content="{{ header.home }}"/>
    <!-- / Yoast SEO plugin. -->
    {% endblock %}

    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='_bootstrap-css'
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type='text/css'
          media='all'/>
    <link rel='stylesheet' id='_fontawesome-css'
          href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type='text/css'
          media='all'/>
    <link href="{{ url_for('static', filename='css/main.css') }}?ver=5.2" rel="stylesheet"
          id="_main-css" type='text/css' media='all'>
    <script type='text/javascript'
            src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <link rel='https://api.w.org/' href='{{ header.home }}/wp-json/'/>
    <!-- Analytics by WP-Statistics v12.6.13 - https://wp-statistics.com/ -->
    <meta name="keywords" content="{{ header.blogdesc }}">
    <meta name="description" content="本站是一个高端大气上档次的网站">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/libs/html5.min.js') }}"></script>
    <![endif]-->

    <script type="text/javascript">
        jQuery(document).ready(
            function (jQuery) {
                jQuery('.collapseButton').click(
                    function () {
                        jQuery(this).parent().parent().find('.xContent').slideToggle('slow');
                    }
                );
            }
        );
    </script>
</head>

{% block content %}

<body class="home blog logged-in nav_fixed m-excerpt-cat m-excerpt-time logged-admin site-layout-2 text-justify-on">

{% include "header.html" %}

<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div id="focusslide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a target="_blank" href="{{ header.home }}">
                            <img src="http://www.liangz.org/wp-content/uploads/2017/06/fe01735274.jpg" alt="唯美图片">
                            <span class="carousel-caption">唯美图片</span>
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" href="#focusslide" role="button"
                   data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#focusslide" role="button"
                   data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <article class="excerpt-minic excerpt-minic-index">
                <h2><a target="_blank" class="red" href="http://www.liangz.org/sort/recommend">【站长推荐】</a>
                    <a href="http://www.liangz.org/424.html"
                       title="神器&#8211;磁盘目录大小排序软件TreeSize-飘零博客">神器&#8211;磁盘目录大小排序软件TreeSize</a>
                </h2>
                <p class="note">TreeSize简介 硬盘空间回收器,它能够显示文件大小和实际占空间数及其浪费的空间等,让你做出相应的删除决定. 此乃神器
                    就拿我而言，以网上之言，我已患有绝症。晚期收藏癌，晚期松鼠癌症（ps:松鼠喜欢收藏东西）。 收藏是需要Money的，...</p>
            </article>
            <!--自定义文章列表-->
            <!-- 自定义文章列表模块 -->
            <section>
                <div class=title><h3>特别推荐</h3></div>
                <div class="qgg_diy_postlist">
                    <div style="list-style: none;">
                        <li><span class="qgg_diy_postlist_lable">特别推荐</span>&nbsp&nbsp</li>
                    </div>
                </div>
            </section>
            <!--热门文章排行-->
            <div class="most-comment-posts">
                <div class="title"><h3>热门排行</h3></div>
                <div class="mpc-bg">
                    <ul>
                        <li>暂无最多阅读文章！</li>
                    </ul>
                </div>
            </div>
            <div class="title">
                <h3>最新发布</h3>
                <div class="more">
                    <a href="http://www.liangz.org/75.html" target="_blank">Snipaste</a>
                    <a href="http://www.liangz.org/248.html" target="_blank">Mem Reduct</a>
                    <a href="http://www.liangz.org/288.html" target="_blank">Cmder</a>
                    <a href="链接地址">显示文字</a>
                </div>
            </div>
            {% for post in posts %}
                <article class="excerpt excerpt-{{ loop.index }}">
                    <a target="_blank" class="focus" href="http://www.liangz.org/{{ post.ID }}.html">
                        <img data-src="{{ post.post_thumbnail }}"
                             alt="{{ post.post_title }}-{{ header.blogname }}"
                             src="http://www.liangz.org/wp-content/themes/dux/img/thumbnail.png"
                             class="thumb">
                    </a>
                    <header>
                        <a class="cat"
                           href="http://www.liangz.org/sort/study/languages/delphi">Delphi<i></i></a>
                        <h2>
                            <a target="_blank" href="http://www.liangz.org/{{ post.ID }}.html"
                               title="{{ post.post_title }}-{{ header.blogname }}">{{ post.post_title }}
                            </a>
                        </h2>
                    </header>
                    <p class="meta">
                        <time><i class="fa fa-clock-o"></i>{{ post.post_date.strftime("%Y-%m-%d") }}</time>
                        <span class="author">
                            <i class="fa fa-user"></i>
                            <a href="http://www.liangz.org/author/{{ post.nicename }}">{{ post.article_author }}</a>
                        </span>
                        <span class="pv">
                            <i class="fa fa-eye"></i>阅读({{ post.post_views }})
                    </span>
                        <a class="pc" href="http://www.liangz.org/755.html#respond">
                            <i class="fa fa-comments-o"></i>评论({{ post.comment_count }})
                        </a>
                        <a href="javascript:;" etap="like" class="post-like" data-pid="{{ post.ID }}">
                            <i class="fa fa-thumbs-o-up"></i>赞(<span>{{ post.post_like }}</span>)
                        </a>
                    </p>
                    <p class="note">
                        {{ post.post_content | summary | truncate(180) }}
                    </p>
                </article>
            {% endfor %}

            <div class="pagination">
                <ul>
                    <li class="prev-page"></li>
                    <li class="active"><span>1</span></li>
                    <li><a href='http://www.liangz.org/page/2'>2</a></li>
                    <li><a href='http://www.liangz.org/page/3'>3</a></li>
                    <li><a href='http://www.liangz.org/page/4'>4</a></li>
                    <li><span> ... </span></li>
                    <li class="next-page"><a href="http://www.liangz.org/page/2">下一页</a></li>
                    <li><span>共 6 页</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="widget widget-tops">
            <ul class="widget-nav">
                <li class="active">网站公告</li>
                <li>会员中心</li>
            </ul>
            <ul class="widget-navcontent">
                <li class="item item-01 active">
                    <ul>
                        <li>
                            <time>12-31</time>
                            <a target="_blank" href="http://www.liangz.org/427.html">本站开启知识库</a>
                        </li>
                        <li>
                            <time>10-30</time>
                            <a target="_blank"
                               href="http://www.liangz.org/333.html">关于本站为何使用城通网盘</a>
                        </li>
                        <li>
                            <time>08-15</time>
                            <a target="_blank" href="http://www.liangz.org/282.html">本站域名更换为www.liangz.org</a>
                        </li>
                        <li>
                            <time>06-26</time>
                            <a target="_blank"
                               href="http://www.liangz.org/144.html">关于网站搜索bug的通知</a>
                        </li>
                        <li>
                            <time>06-22</time>
                            <a target="_blank" href="http://www.liangz.org/88.html">欢迎再次回来！！！</a>
                        </li>
                    </ul>
                </li>
                <li class="item item-02">
                    <dl>
                        <dt>
                            <img src="https://secure.gravatar.com/avatar/ae89116bc2f881a5488ac50bf9b1f8ea?s=100&d=mm"
                                 class="avatar avatar-100" height="50" width="50">
                        </dt>
                        <dd>Darker<span class="text-muted">1930812245@qq.com</span></dd>
                    </dl>
                    <ul>
                        <li><a href="http://www.liangz.org/user#posts/all">我的文章</a></li>
                        <li><a href="http://www.liangz.org/user#comments">我的评论</a></li>
                        <li><a href="http://www.liangz.org/user#info">修改资料</a></li>
                        <li><a href="http://www.liangz.org/user#password">修改密码</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="widget widget_ui_textasb">
            <a class="style01" href="http://www.liangz.org/" target="_blank">
                <strong>吐血推荐</strong>
                <h2>欢迎光临</h2>
                <p>{{ header.blogdesc }}</p>
            </a>
        </div>
        <div class="widget widget_text">
            <h3>服务器推荐</h3>
            <div class="textwidget">
                <ul>
                    <li>本站架设在
                        <a href="https://bandwagonhost.com/aff.php?aff=21629" target="_blank"
                           rel="noopener">
                            <span style="color: #ff0000;">
                                <strong>搬瓦工VPS</strong>（BandwagonHOST）
                            </span>
                        </a>上面
                    </li>
                    <li>最新优惠码：<strong>BWH26FXH3HIQ &#8211; 6.25%</strong></li>
                </ul>
            </div>
        </div>

        {% include "side.html" %}

    </div>
</section>

<div class="branding branding-black">
    <div class="container">
        <h2>欢迎光临</h2>
    </div>
</div>

{% include "footer.html" %}

</body>

{% endblock %}

</html>
