<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="//apps.bdimg.com">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="{{ header.blogname }}">
    <meta http-equiv="Cache-Control" content="no-siteapp">

    {% block title %}
    <title>{{ header.blogname }} | {{ header.blogdesc }}</title>
    <meta name="description" content="{{ header.blogdesc }}"/>
    <link rel="canonical" href="{{ header.home }}"/>
    <link rel="next" href="http://www.liangz.org/page/2"/>
    <meta property="og:locale" content="zh_CN"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ header.blogname }} | {{ header.blogdesc }}"/>
    <meta property="og:description" content="{{ header.blogdesc }}"/>
    <meta property="og:url" content="{{ header.home }}"/>
    <!-- / Yoast SEO plugin. -->
    {% endblock %}

    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='_bootstrap-css'
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type='text/css'
          media='all'/>
    <link rel='stylesheet' id='_fontawesome-css'
          href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type='text/css'
          media='all'/>
    <link href="{{ url_for('static', filename='css/main.css') }}?ver=5.2" rel="stylesheet"
          id="_main-css" type='text/css' media='all'>
    <script type='text/javascript'
            src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <!-- Analytics by WP-Statistics v12.6.13 - https://wp-statistics.com/ -->
    <meta name="keywords" content="{{ header.blogdesc }}">
    <meta name="description" content="本站是一个高端大气上档次的网站">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/libs/html5.min.js') }}"></script>
    <![endif]-->

    <script type="text/javascript">
        jQuery(document).ready(
            function (jQuery) {
                jQuery('.collapseButton').click(
                    function () {
                        jQuery(this).parent().parent().find('.xContent').slideToggle('slow');
                    }
                );
            }
        );
    </script>
</head>

{% block content %}

<body class="home blog logged-in nav_fixed m-excerpt-cat m-excerpt-time logged-admin site-layout-2 text-justify-on">

{# header #}
<header class="header">
    <div class="container">
        <h1 class="logo">
            <a href="{{ url_for('.home') }}" title="{{ header.blogname }} - {{ header.blogdesc }}">
                <img src="{{ url_for('static', filename='img/LOGO.png') }}"
                     alt="{{ header.blogname }}-{{ header.blogdesc }}">{{ header.blogname }}
            </a>
        </h1>
        <div class="brand">欢迎光临！<br>若无相欠，怎会相见</div>
        <ul class="site-nav site-navbar">
            <li id="menu-item-64"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-64">
                <a href="/">网站首页</a>
            </li>
            <li id="menu-item-117"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-117">
                <a href="{{ url_for('.category', name='study') }}">学无止境</a>
                <ul class="sub-menu">
                    <li id="menu-item-557" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-557">
                        <a href="http://www.liangz.org/sort/study/windows">Windows</a>
                    </li>
                    <li id="menu-item-187" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-187">
                        <a href="http://www.liangz.org/sort/study/wordpress">WordPress</a>
                    </li>
                    <li id="menu-item-558" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-558">
                        <a href="http://www.liangz.org/sort/study/linux">Linux</a>
                    </li>
                    <li id="menu-item-120" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-120">
                        <a href="http://www.liangz.org/sort/study/languages">编程语言</a>
                    </li>
                    <li id="menu-item-559" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-559">
                        <a href="http://www.liangz.org/sort/study/hack">黑客技术</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-73"
                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-73">
                <a href="{{ url_for('.category', name='resource') }}">资源分享</a>
                <ul class="sub-menu">
                    <li id="menu-item-87" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-87">
                        <a href="http://www.liangz.org/sort/resource/software">软件分享</a>
                    </li>
                    <li id="menu-item-96" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-96">
                        <a href="http://www.liangz.org/sort/resource/documents">文档分享</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-66" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-66">
                <a href="{{ url_for('.category', name='everthing') }}">谈天说地</a>
                <ul class="sub-menu">
                    <li id="menu-item-86" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-86">
                        <a href="http://www.liangz.org/sort/everthing/essaylog">随笔日志</a>
                    </li>
                    <li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70">
                        <a href="http://www.liangz.org/memory">备忘录</a>
                    </li>
                    <li id="menu-item-693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-693">
                        <a href="http://www.liangz.org/about-me">关于我</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312">
                <a href="http://www.liangz.org/opensource">开源项目</a>
            </li>
            <li id="menu-item-613" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-613">
                <a href="http://www.liangz.org/express">微言微语</a>
            </li>
            <li id="menu-item-430" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-430">
                <a target="_blank" href="http://git.liangz.org">代码仓库</a>
            </li>
            <li id="menu-item-313" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-313">
                <a href="http://www.liangz.org/messageboard">留言板</a>
            </li>
            <li class="navto-search">
                <a href="javascript:;" class="search-show active">
                    <i class="fa fa-search"></i>
                </a>
            </li>
        </ul>
        <div class="topbar">
            <ul class="site-nav topmenu">
                <li id="menu-item-431" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-431">
                    <a>知识库</a>
                </li>
                <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                    <a href="{{ url_for('.hot_tags') }}">热门标签</a>
                </li>
                <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
                    <a href="{{ url_for('.friend_link') }}">友情链接</a>
                </li>
                <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
                    <a href="{{ url_for('.changelog') }}">更新记录</a>
                </li>
                <li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62">
                    <a href="{{ url_for('.about') }}">关于本站</a>
                </li>
                <li class="menusns">
                    <a href="javascript:;">关注我们 <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu">
                        <li>
                            <a class="sns-wechat" href="javascript:;" title="飘零博客"
                               data-src="http://www.liangz.org/wp-content/uploads/2017/07/qrcode_for_gh_025dd86746bf_258.jpg">飘零博客
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            Hi, User  <a href="http://www.liangz.org/user">进入会员中心</a>
            <a target="_blank" href="http://www.liangz.org/wp-admin/">后台管理</a>
        </div>
        <i class="fa fa-bars m-icon-nav"></i>
    </div>
</header>

<div class="site-search">
    <div class="container">
        <form method="get" class="site-search-form" action="http://www.liangz.org/">
            <input class="search-input" name="s" type="text" placeholder="输入关键字" value="">
            <button class="search-btn" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>

<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div id="focusslide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a target="_blank" href="{{ header.home }}">
                            <img src="http://www.liangz.org/wp-content/uploads/2017/06/fe01735274.jpg" alt="唯美图片">
                            <span class="carousel-caption">唯美图片</span>
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" href="#focusslide" role="button"
                   data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#focusslide" role="button"
                   data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
            <article class="excerpt-minic excerpt-minic-index">
                <h2><a target="_blank" class="red" href="{{ url_for('.category', name='recommend') }}">【站长推荐】</a>
                    <a href="{{ url_for('.article', id='424') }}.html"
                       title="神器&#8211;磁盘目录大小排序软件TreeSize-飘零博客">神器&#8211;磁盘目录大小排序软件TreeSize</a>
                </h2>
                <p class="note">TreeSize简介 硬盘空间回收器,它能够显示文件大小和实际占空间数及其浪费的空间等,让你做出相应的删除决定. 此乃神器
                    就拿我而言，以网上之言，我已患有绝症。晚期收藏癌，晚期松鼠癌症（ps:松鼠喜欢收藏东西）。 收藏是需要Money的，...</p>
            </article>
            <!--自定义文章列表-->
            <!-- 自定义文章列表模块 -->
            <section>
                <div class=title><h3>特别推荐</h3></div>
                <div class="qgg_diy_postlist">
                    <div style="list-style: none;">
                        <li><span class="qgg_diy_postlist_lable">特别推荐</span>&nbsp&nbsp</li>
                    </div>
                </div>
            </section>
            <!--热门文章排行-->
            <div class="most-comment-posts">
                <div class="title"><h3>热门排行</h3></div>
                <div class="mpc-bg">
                    <ul>
                        <li>暂无最多阅读文章！</li>
                    </ul>
                </div>
            </div>
            <div class="title">
                <h3>最新发布</h3>
                <div class="more">
                    <a href="{{ url_for('.article', id='75') }}.html" target="_blank">Snipaste</a>
                    <a href="{{ url_for('.article', id='248') }}.html" target="_blank">Mem Reduct</a>
                    <a href="{{ url_for('.article', id='288') }}.html" target="_blank">Cmder</a>
                    <a href="">显示文字</a>
                </div>
            </div>
            {% for post in posts %}
                <article class="excerpt excerpt-{{ loop.index }}">
                    <a target="_blank" class="focus" href="{{ url_for('.article', id=post.ID) }}.html">
                        <img data-src="{{ post.post_thumbnail }}"
                             alt="{{ post.post_title }}-{{ header.blogname }}"
                             src="{{ url_for('static', filename='img/thumbnail.png') }}"
                             class="thumb">
                    </a>
                    <header>
                        <a class="cat"
                           href="http://www.liangz.org/sort/study/languages/delphi">Delphi<i></i></a>
                        <h2>
                            <a target="_blank" href="{{ url_for('.article', id=post.ID) }}.html"
                               title="{{ post.post_title }}-{{ header.blogname }}">{{ post.post_title }}
                            </a>
                        </h2>
                    </header>
                    <p class="meta">
                        <time><i class="fa fa-clock-o"></i>{{ post.post_date.strftime("%Y-%m-%d") }}</time>
                        <span class="author">
                            <i class="fa fa-user"></i>
                            <a href="{{ url_for('.author', user_name=post.nicename) }}">{{ post.article_author }}</a>
                        </span>
                        <span class="pv">
                            <i class="fa fa-eye"></i>阅读({{ post.post_views }})
                    </span>
                        <a class="pc" href="{{ url_for('.article', id=post.ID) }}.html#respond">
                            <i class="fa fa-comments-o"></i>评论({{ post.comment_count }})
                        </a>
                        <a href="javascript:;" etap="like" class="post-like" data-pid="{{ post.ID }}">
                            <i class="fa fa-thumbs-o-up"></i>赞(<span>{{ post.post_like }}</span>)
                        </a>
                    </p>
                    <p class="note">
                        {{ post.post_content | summary | truncate(180) }}
                    </p>
                </article>
            {% endfor %}

            <div class="pagination">
                <ul>
                    <li class="prev-page"></li>
                    <li class="active"><span>1</span></li>
                    <li><a href='http://www.liangz.org/page/2'>2</a></li>
                    <li><a href='http://www.liangz.org/page/3'>3</a></li>
                    <li><a href='http://www.liangz.org/page/4'>4</a></li>
                    <li><span> ... </span></li>
                    <li class="next-page"><a href="http://www.liangz.org/page/2">下一页</a></li>
                    <li><span>共 6 页</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="widget widget-tops">
            <ul class="widget-nav">
                <li class="active">网站公告</li>
                <li>会员中心</li>
            </ul>
            <ul class="widget-navcontent">
                <li class="item item-01 active">
                    <ul>
                        {% for post in site_notifications %}
                            <li>
                                <time>{{ post.post_date.strftime("%m-%d") }}</time>
                                <a target="_blank" href="{{ url_for('.article', id=post.ID) }}.html">{{ post.post_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="item item-02">
                    <dl>
                        <dt>
                            <img src="https://secure.gravatar.com/avatar/ae89116bc2f881a5488ac50bf9b1f8ea?s=100&d=mm"
                                 class="avatar avatar-100" height="50" width="50">
                        </dt>
                        <dd>Darker<span class="text-muted">1930812245@qq.com</span></dd>
                    </dl>
                    <ul>
                        <li><a href="http://www.liangz.org/user#posts/all">我的文章</a></li>
                        <li><a href="http://www.liangz.org/user#comments">我的评论</a></li>
                        <li><a href="http://www.liangz.org/user#info">修改资料</a></li>
                        <li><a href="http://www.liangz.org/user#password">修改密码</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="widget widget_ui_textasb">
            <a class="style01" href="http://www.liangz.org/" target="_blank">
                <strong>吐血推荐</strong>
                <h2>欢迎光临</h2>
                <p>{{ header.blogdesc }}</p>
            </a>
        </div>
        <div class="widget widget_text">
            <h3>服务器推荐</h3>
            <div class="textwidget">
                <ul>
                    <li>本站架设在
                        <a href="https://bandwagonhost.com/aff.php?aff=21629" target="_blank"
                           rel="noopener">
                            <span style="color: #ff0000;">
                                <strong>搬瓦工VPS</strong>（BandwagonHOST）
                            </span>
                        </a>上面
                    </li>
                    <li>最新优惠码：<strong>BWH26FXH3HIQ &#8211; 6.25%</strong></li>
                </ul>
            </div>
        </div>

        {# sidebar #}
        <div class="widget widget_ui_posts">
            <h3>热门文章</h3>
            <ul>
                {% for hot_post in hot_posts %}
                    <li>
                        <a target="_blank" href="{{ url_for(".article", id=hot_post.ID) }}">
                <span class="thumbnail">
                    <img data-src="{{ hot_post.post_thumbnail }}"
                         alt="{{ hot_post.post_title }}-{{ header.blogname }}"
                         src="{{ url_for('static', filename='img/thumbnail.png') }}"
                         class="thumb">
                </span>
                            <span class="text">{{ hot_post.post_title }}</span>
                            <span class="muted">{{ hot_post.post_date.strftime("%Y-%m-%d") }}</span>
                            <span class="muted">评论({{ hot_post.comment_count }})</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>


        <div class="widget widget_ui_posts">
            <h3>近期文章</h3>
            <ul>
                {% for post in recent_posts %}
                    <li>
                        <a target="_blank" href="{{ url_for('.article', id=post.ID) }}">
                    <span class="thumbnail">
                        <img data-src="{{ post.post_thumbnail }}"
                             alt="{{ post.post_title }}-{{ header.blogname }}"
                             src="{{ url_for('static', filename='img/thumbnail.png') }}"
                             class="thumb">
                    </span>
                            <span class="text">{{ post.post_title }}</span>
                            <span class="muted">{{ post.post_date.strftime("%Y-%m-%d") }}</span>
                            <span class="muted">评论({{ post.comment_count }})</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>


        <div class="widget widget_ui_posts">
            <h3>猜你喜欢</h3>
            <ul>
                {% for post in guess_likes %}
                    <li>
                        <a target="_blank" href="{{ url_for('.article', id=post.ID) }}">
                    <span class="thumbnail">
                        <img data-src="{{ post.post_thumbnail }}"
                             alt="{{ post.post_title }}-{{ header.blogname }}"
                             src="{{ url_for('static', filename='img/thumbnail.png') }}"
                             class="thumb">
                    </span>
                            <span class="text">{{ post.post_title }}</span>
                            <span class="muted">{{ post.post_date.strftime("%Y-%m-%d") }}</span>
                            <span class="muted">评论({{ post.comment_count }})</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>


        <div class="widget widget_ui_tags">
            <h3>热门标签</h3>
            <div class="items">
                {% for tag in hot_tags %}
                    <a href="http://www.liangz.org/tags/{{ tag.slug }}">{{ tag.name }} ({{ tag.count }})</a>
                {% endfor %}
            </div>
        </div>


        <div class="widget widget_ui_comments">
            <h3>最新评论</h3>
            <ul>
                <li>
                    <a href="http://www.liangz.org/messageboard/comment-page-1#comment-151" title="留言板上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/739d96aed118412ef6e20a01af3d54b8?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"><strong>Job</strong> 2个月前
                        (06-02)说：<br>看到下面的链接了，不用了。
                    </a>
                </li>
                <li>
                    <a href="http://www.liangz.org/messageboard/comment-page-1#comment-150" title="留言板上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/739d96aed118412ef6e20a01af3d54b8?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"> <strong>Job</strong> 2个月前
                        (06-02)说：<br>博主，opencv的电子书还在吗？麻烦给我邮箱发一份。谢谢！
                    </a>
                </li>
                <li>
                    <a href="http://www.liangz.org/messageboard/comment-page-1#comment-149" title="留言板上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/639e9e3b0232709969af744af573a873?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"> <strong>老张</strong> 3个月前
                        (05-07)说：<br>先赞一个吧，做的挺好的！不常来，每次都有不同。
                    </a>
                </li>
                <li>
                    <a href="http://www.liangz.org/messageboard/comment-page-1#comment-114" title="留言板上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/40fb135ee95fb0c1c3a5bb2b18945790?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"> <strong>hit</strong>
                        11个月前 (09-01)说：<br>您好，可以再发一下Python——opencv中文版下载连接吗？
                    </a>
                </li>
                <li>
                    <a href="http://www.liangz.org/331.html/comment-page-1#comment-110" title="知识管理工具-Mybase上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/7744a667d94a9add1b5de5eaa265af5c?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"> <strong>figa</strong> 1年前
                        (2019-04-11)说：<br>谢谢 感谢博主分享 ，感觉很好用 。
                    </a>
                </li>
                <li>
                    <a href="http://www.liangz.org/75.html/comment-page-1#comment-108" title="Snipaste--“全球第一多功能截图软件”上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/8ceaf29cc6b837a0a8fc10a2c5065a19?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"> <strong>Snake</strong>
                        2年前 (2018-12-05)说：<br>一直在使用这个截图软件
                    </a>
                </li>
                <li>
                    <a href="http://www.liangz.org/444.html/comment-page-1#comment-106" title="使用grub2制作多重启动盘(上)上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/8ceaf29cc6b837a0a8fc10a2c5065a19?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"> <strong>Snake</strong>
                        2年前 (2018-12-05)说：<br>照着做能做好，谢谢
                    </a>
                </li>
                <li>
                    <a href="http://www.liangz.org/331.html/comment-page-1#comment-103" title="知识管理工具-Mybase上的评论">
                        <img data-src="https://secure.gravatar.com/avatar/0dd91156aa7c71aae6ebc64c173564ca?s=100&d=mm"
                             class="avatar avatar-100" height="50" width="50"> <strong>mm</strong> 2年前
                        (2018-10-03)说：<br>太好用啦，感謝分享！
                    </a>
                </li>
            </ul>
        </div>


        <div class="widget widget_categories">
            <h3>分类目录</h3>
            <ul>
                {% for category in all_categories %}
                    <li class="cat-item cat-item-{{ category.term_id }}">
                        <a href="http://www.liangz.org/sort/study/{{ category.slug }}">{{ category.name }}</a> ({{ category.count }})
                    </li>
                {% endfor %}
            </ul>
        </div>


        <div class="widget widget_archive">
            <h3>文章归档</h3>
            <ul>
                <li><a href='http://www.liangz.org/date/2020/07'>2020年七月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2020/06'>2020年六月</a>&nbsp;(3)</li>
                <li><a href='http://www.liangz.org/date/2020/05'>2020年五月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2020/04'>2020年四月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2020/03'>2020年三月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2020/02'>2020年二月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2020/01'>2020年一月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2019/12'>2019年十二月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2019/11'>2019年十一月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2019/10'>2019年十月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2019/09'>2019年九月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2019/08'>2019年八月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2019/07'>2019年七月</a>&nbsp;(3)</li>
                <li><a href='http://www.liangz.org/date/2019/06'>2019年六月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2019/05'>2019年五月</a>&nbsp;(5)</li>
                <li><a href='http://www.liangz.org/date/2019/04'>2019年四月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2019/03'>2019年三月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2019/02'>2019年二月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2019/01'>2019年一月</a>&nbsp;(3)</li>
                <li><a href='http://www.liangz.org/date/2018/12'>2018年十二月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2018/11'>2018年十一月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2018/10'>2018年十月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2018/08'>2018年八月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2018/07'>2018年七月</a>&nbsp;(2)</li>
                <li><a href='http://www.liangz.org/date/2018/05'>2018年五月</a>&nbsp;(5)</li>
                <li><a href='http://www.liangz.org/date/2018/04'>2018年四月</a>&nbsp;(3)</li>
                <li><a href='http://www.liangz.org/date/2018/03'>2018年三月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2018/02'>2018年二月</a>&nbsp;(1)</li>
                <li><a href='http://www.liangz.org/date/2018/01'>2018年一月</a>&nbsp;(5)</li>
                <li><a href='http://www.liangz.org/date/2017/12'>2017年十二月</a>&nbsp;(7)</li>
                <li><a href='http://www.liangz.org/date/2017/11'>2017年十一月</a>&nbsp;(13)</li>
                <li><a href='http://www.liangz.org/date/2017/10'>2017年十月</a>&nbsp;(3)</li>
                <li><a href='http://www.liangz.org/date/2017/09'>2017年九月</a>&nbsp;(5)</li>
                <li><a href='http://www.liangz.org/date/2017/08'>2017年八月</a>&nbsp;(11)</li>
                <li><a href='http://www.liangz.org/date/2017/07'>2017年七月</a>&nbsp;(9)</li>
                <li><a href='http://www.liangz.org/date/2017/06'>2017年六月</a>&nbsp;(20)</li>
            </ul>
        </div>


        <div class="widget widget_ui_statistics">
            <h3>站点统计</h3>
            <ul>
                <li><strong>日志总数：</strong>{{ post_statistics.total_posts }}</li>
                <li><strong>评论总数：</strong>{{ post_statistics.total_comments }}</li>
                <li><strong>页面总数：</strong>{{ post_statistics.total_pages }}</li>
                <li><strong>最后更新：</strong>{{ post_statistics.latest.strftime("%Y-%m-%d") }}</li>
            </ul>
        </div>

    </div>
</section>

<div class="branding branding-black">
    <div class="container">
        <h2>欢迎光临</h2>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; 2017-2020
            <a href="{{ header.home }}">飘零博客</a> &nbsp;
            保留所有权利.&nbsp&nbsp&nbsp
            <a href="http://www.liangz.org/sitemap_index.xml">网站地图</a>&nbsp&nbsp
            <a href="mailto:Darker@liangz.org" target="_blank">联系我</a><br/><br/>
            <a href="http://www.miitbeian.gov.cn/">豫ICP备17004059号-2</a>&nbsp&nbsp&nbsp
            <a href="http://webscan.360.cn/index/checkwebsite/url/www.liangz.org"
               name="8a944173b40e4ac482e6322341f82110">360网站安全检测平台
            </a>
            <br/><br/>
            <span id="sitetime"></span>
        </p>
        <br/>
        <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
        <script type="text/javascript">
            function siteTime() {
                window.setTimeout("siteTime()", 1000);
                var seconds = 1000;
                var minutes = seconds * 60;
                var hours = minutes * 60;
                var days = hours * 24;
                var years = days * 365;
                var today = new Date();
                var todayYear = today.getFullYear();
                var todayMonth = today.getMonth();
                var todayDate = today.getDate();
                var todayHour = today.getHours();
                var todayMinute = today.getMinutes();
                var todaySecond = today.getSeconds();

                /* Date.UTC() -- 返回date对象距世界标准时间(UTC)1970年1月1日午夜之间的毫秒数(时间戳)
                year - 作为date对象的年份，为4位年份值
                month - 0-11之间的整数，做为date对象的月份    特别注意
                day - 1-31之间的整数，做为date对象的天数
                hours - 0(午夜24点)-23之间的整数，做为date对象的小时数
                minutes - 0-59之间的整数，做为date对象的分钟数
                seconds - 0-59之间的整数，做为date对象的秒数
                microseconds - 0-999之间的整数，做为date对象的毫秒数 */
                var t1 = Date.UTC(2017, 1, 14, 0, 0, 0);<!--注意：月份是0-11,所以需要把建站月份减一-->
                var t2 = Date.UTC(todayYear, todayMonth, todayDate, todayHour, todayMinute, todaySecond);
                var diff = t2 - t1;

                var diffYears = Math.floor(diff / years);
                var diffDays = Math.floor((diff / days) - diffYears * 365);
                var diffHours = Math.floor((diff - (diffYears * 365 + diffDays) * days) / hours);
                if (String(diffHours).length === 1) {
                    diffHours = "0" + diffHours;
                }
                var diffMinutes = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours) / minutes);
                if (String(diffMinutes).length === 1) {
                    diffMinutes = "0" + diffMinutes;
                }
                var diffSeconds = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours - diffMinutes * minutes) / seconds);
                if (String(diffSeconds).length === 1) {
                    diffSeconds = "0" + diffSeconds;
                }
                document.getElementById("sitetime").innerHTML = "本站勉强运行 " + diffYears + " 年 " + diffDays + " 天 " + diffHours + " 小时 " + diffMinutes + " 分钟 " + diffSeconds + " 秒";

                var Days = Math.floor(diff / days);
                var Hours = Math.floor((diff -  Days * days) / hours);
                if (String(Hours).length === 1) {
                    Hours = "0" + Hours;
                }
                var Minutes = Math.floor((diff -  Days * days - Hours * hours) / minutes);
                if (String(Minutes).length === 1) {
                    Minutes = "0" + Minutes;
                }
                var Seconds = Math.floor((diff -  Days * days - Hours * hours - Minutes * minutes) / seconds);
                if (String(Seconds).length === 1) {
                    Seconds = "0" + Seconds;
                }
                document.getElementById("timeDate").innerHTML = "本站始于2017年2月14日，勉强运行 " + Days + " 天 ";
                document.getElementById("times").innerHTML = Hours + " 小时 " + Minutes + " 分 " + Seconds + " 秒";
            }
            siteTime();
        </script>
    </div>
</footer>

<div class="rollbar rollbar-rb">
    <ul>
        <li>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1930812245&site=qq&menu=yes">
                <i class="fa fa-qq"></i>
                <span>QQ咨询</span>
            </a>
            <h6>QQ咨询<i></i></h6>
        </li>
        <li class="rollbar-totop">
            <a href="javascript:(jsui.scrollTo());">
                <i class="fa fa-angle-up"></i>
                <span>回顶</span>
            </a>
            <h6>回顶部<i></i></h6>
        </li>
    </ul>
</div>

<script>
    window.jsui = {
        www: 'http://www.liangz.org',
        uri: '{{ url_for('static', filename="js/") }}',
        ver: '5.2',
        roll: ["1", "2"],
        ajaxpager: '0',
        url_rp: 'http://www.liangz.org/resetpwd'
    };
</script>

<!-- 复制内容弹窗版权提醒 -->
<script type="text/javascript">
    document.body.oncopy = function () {
        alert("复制成功！撰文不易，转载请务必保留原文链接，谢谢合作！");
    }
</script>

<script type="text/javascript">
    len = $(".widget_ui_tags .items a").length - 1;
    $(".widget_ui_tags .items a").each(function (i) {
        var let = new Array(
            '27ea80', '3366FF', 'ff5473', 'df27ea', '31ac76', 'ea4563',
            '31a6a0', '8e7daa', '4fad7b', 'f99f13', 'f85200', '666666');
        var random1 = Math.floor(Math.random() * 12) + 0;
        var num = Math.floor(Math.random() * 5 + 12);
        $(this).attr('style', 'background:#' + let[random1] + '; opacity: 0.6;' + '');
        if ($(this).next().length > 0) {
            last = $(this).next().position().left
        }
    });
</script>

<!-- 评论框礼花绽放效果-->
<script src="{{ url_for('static', filename='js/activate-power-mode.js') }}"></script>
<script>
    POWERMODE.colorful = true; // ture 为启用礼花特效
    POWERMODE.shake = false; // false 为禁用震动特效
    document.body.addEventListener('input', POWERMODE);
</script>

<script type='text/javascript' src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/loader.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/wp-embed.min.js') }}"></script>

</body>

{% endblock %}

</html>
